<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xlike.top.nettydemo.mapper.ChatGroupMapper">

    <!-- 根据用户ID查找群组列表 -->
    <select id="findGroupsByUserId" resultType="xlike.top.nettydemo.pojo.domain.ChatGroup">
        SELECT g.id, g.name, g.description
        FROM chat_group g
                 JOIN chat_group_member gu ON g.id = gu.group_id
        WHERE gu.user_id = #{userId}
    </select>

</mapper>
